In [1]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a','b','c']
mylist = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [7]:
pd.Series(data = mylist, index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(mylist, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
salesQ1 = pd.Series(data= [250,300,150,200,450], index = ['USA', 'UK', 'China', 'India', 'Japan'])

In [13]:
salesQ1

USA      250
UK       300
China    150
India    200
Japan    450
dtype: int64

In [14]:
salesQ2 = pd.Series(data= [260,350,110,250,400], index = ['USA', 'UK', 'China', 'India', 'Brazil'])

In [15]:
salesQ2

USA       260
UK        350
China     110
India     250
Brazil    400
dtype: int64

In [16]:
salesQ2['China']

110

In [17]:
salesQ2[0]

260

In [23]:
salesQ1 + salesQ2

Brazil      NaN
China     260.0
India     450.0
Japan       NaN
UK        650.0
USA       510.0
dtype: float64